.App {
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0 auto;
	max-width: 95%;
	width: 72ch;
}

.App > h1 {
	text-align: center;
}

.artwork-selection-button {
	background: white;
	color: black;
	border: none;
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
}
