.heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title {
	display: flex;
	align-items: baseline;
}

.back-button {
	padding: 10px 15px;
	font-weight: bold;
	border-radius: 5px;
	background-color: white;
	color: black;
	display: flex;
	cursor: pointer;
}
